:root {
    padding: 10px;
    box-sizing: border-box;
}

.main-widget {
    padding: 10px;
}

.card {
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.todo-item label {
    padding-left: 10px;
}

.v-debug-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
