a[highlight] {
    font-weight: bold;
}

.card {
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.todo-item label {
    padding-left: 10px;
}

.description {
    box-sizing: border-box;
    background: #f9f9f9;
    border-left: 0.5em solid #ccc;
    padding: 0.5em;
}
